body {
  display: flex;
  background-color: black;
}

h1 {
  color: #ff007a;
  font-family: "Helvetica";
}

input {
  color: black;
  background-color: #c0c0c0;
}

button {
  color: #ff007a;
  background-color: #c0c0c0;
}

img {
  margin-top: 12px;
  width: 70px;
  height: 70px;
}

.search_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
