body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1 {
    color: #FF007A;
    font-family: "Helvetica";
  }
  
  input {
    color: black;
    background-color: #C0C0C0;
  }
  
  button {
    color: #FF007A;
    background-color:#C0C0C0;
  }

  img {
      margin-top: 12px;
      width: 70px;
      height: 70px;
  }